@use '_values.scss' as values;

.sell {
    font-family: values.$font_family;
    font-weight: lighter;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;

    * {
        margin: 20px;
    }

    button {
        margin: auto;
        margin-top: 20px;
        width: 100%;
        font-size: larger;
        font-weight: bolder;
        border-color: transparent;
        border-radius: 40px;
        box-shadow: 5px 10px 5px #07ACE64A;
        padding: 20px;
        background-color: values.$primary_color;
        color: values.$secondary_color;
    }
}

.background-image {
    width: 100%;
}

.info {
    font-family: values.$font_family;
    text-align: center;

    &__article {
        @each $container in '&__first, &__second, &__third' {
            #{$container} {
                margin-top: 30px;
            }
        }

        &__third {
            margin-bottom: 30px;
        }
    }
}

.groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: values.$font_family;
    background-color: values.$thirdary_color;
    margin-top: 20px;

    &__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        text-align: left;
        width: 80%;
        border-radius: 10px;
        margin: 10px;
        margin-top: 20px;
    }
}

.pricing {
    position: relative;
    font-family: values.$font_family;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__article {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;

        text-align: center;

        border-radius: 10px;
        padding: 30px;

        height: 250px;

        margin: 20px;

        &__basic {
            border: solid 1px #FB3B64;
        }

        &__professional {
            border: solid 1px #07ACE6;
        }

        &__premium {
            border: solid 1px #55DFB4;
        }

        &__price {
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 20px;
        }

        &__features {
            display: flex;
            flex-direction: column;
        }

        .button {
            position: absolute;
            bottom: -1.5em;
            border-color: transparent;
            border-radius: 20px;
            padding: 10px;
            color: white;
            width: 150px;

            &-basic {
                background-color: #EB476E;
            }

            &-professional {
                background-color: #07ACE6;
            }

            &-premium {
                background-color: #55DFB4;
            }
        }
    }
}

.questions {
    position: relative;

    font-family: values.$font_family;
    margin: 20px;

    h1 {
        font-size: 3em;
        font-weight: normal;
    }

    h2 {
        font-size: 1em;
        font-weight: normal;

        margin-bottom: 2em;
    }

    &__form {
        position: relative;

        label {
            display: block;
        }

        &__name {
            letter-spacing: 2px;
            text-transform: capitalize;
            color: #07ACE6;
        }

        &__email {
            letter-spacing: 2px;
            text-transform: capitalize;
            color: #07ACE6;
        }

        &__checkbox {
            display: flex;
            align-items: flex-start;

            label {
                margin-left: 10px;
            }
        }

        &__container {
            position: relative;
            height: 100px;

            &__submit {
                position: absolute;
                right: 0;
                bottom: 0;
                margin-bottom: 10px;
    
                border-color: transparent;
                border-radius: 40px;
                width: 200px;
                padding: 20px;
                background-color: #07ACE6;
                box-shadow: 5px 10px 5px #07ACE64A;
                color: white;
            }
        }
    }

    &__email {
        display: flex;
        align-items: center;

        p {
            display: inline-block;
            margin-left: 10px;
        }
    }

    &__phone {
        display: flex;
        align-items: center;

        margin-bottom: 2em;

        p {
            display: inline-block;
            margin-left: 10px;
        }
    }
}

.full-input {
    width: 100%;

    border-color: transparent;
    border-bottom: solid 1px gray;
}

@media only screen and (min-width: 1000px) {
    .info {
        br {
            display: none;
        }

        &__article {
            display: flex;
            justify-content: space-around;
        }
    }

    .pricing {
        flex-direction: row;
    }
}