@use '_values.scss' as values;

.header {
    position: sticky;
    top: 0;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 10px gray;

    &__brand {
        display: inline-block;
        font-family: values.$font_family;
        font-weight: normal;
        color: values.$primary_color;
        padding: 10px;
    }

    &__burger {
        position: absolute;
        display: inline-block;
        top: 45%;
        right: 1em;
    }
}