@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  position: sticky;
  top: 0;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
  z-index: 9999;
}
.header__brand {
  display: inline-block;
  font-family: "Raleway";
  font-weight: normal;
  background-color: white;
  color: #08A6E4;
  padding: 10px;
}
.header__nav {
  font-family: "Raleway";
  letter-spacing: 2px;
  display: none;
  top: 35%;
}
.header__burger {
  position: absolute;
  display: inline-block;
  top: 45%;
  right: 1em;
}

@media only screen and (min-width: 1000px) {
  .header {
    position: relative;
  }
  .header__nav {
    position: absolute;
    right: 0;
    display: inline;
  }
  .header__nav li {
    display: inline-block;
    margin-left: 3em;
    margin-right: 3em;
  }
  .header__nav li:hover {
    border-bottom: solid 4px #07ACE6;
    padding-bottom: 1em;
  }
  .header__burger {
    display: none;
  }
}
.footer {
  position: relative;
  display: block;
  color: #08A6E4;
  font-family: "Raleway";
  font-weight: lighter;
  box-shadow: -10px 0px 10px gray;
  padding: 20px;
}
.footer * {
  display: inline-block;
}
.footer p {
  font-size: 12px;
  color: gray;
}
.footer__twitter {
  position: absolute;
  right: 3em;
  bottom: 35%;
}
.footer__facebook {
  position: absolute;
  right: 1em;
  bottom: 35%;
}

.sell {
  font-family: "Raleway";
  font-weight: lighter;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.sell * {
  margin: 20px;
}
.sell button {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  font-size: larger;
  font-weight: bolder;
  border-color: transparent;
  border-radius: 40px;
  box-shadow: 5px 10px 5px rgba(7, 172, 230, 0.2901960784);
  padding: 20px;
  background-color: #08A6E4;
  color: white;
}

.background-image {
  width: 100%;
}

.info {
  font-family: "Raleway";
  text-align: center;
}
.info__article__first, .info__article__second, .info__article__third {
  margin-top: 30px;
}
.info__article__third {
  margin-bottom: 30px;
}

.groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway";
  background-color: #F7F7F7;
  margin-top: 20px;
}
.groups__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: left;
  width: 80%;
  border-radius: 10px;
  margin: 10px;
  margin-top: 20px;
}

.pricing {
  position: relative;
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pricing__article {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  height: 250px;
  margin: 20px;
}
.pricing__article__basic {
  border: solid 1px #FB3B64;
}
.pricing__article__professional {
  border: solid 1px #07ACE6;
}
.pricing__article__premium {
  border: solid 1px #55DFB4;
}
.pricing__article__price {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}
.pricing__article__features {
  display: flex;
  flex-direction: column;
}
.pricing__article .button {
  position: absolute;
  bottom: -1.5em;
  border-color: transparent;
  border-radius: 20px;
  padding: 10px;
  color: white;
  width: 150px;
}
.pricing__article .button-basic {
  background-color: #EB476E;
}
.pricing__article .button-professional {
  background-color: #07ACE6;
}
.pricing__article .button-premium {
  background-color: #55DFB4;
}

.questions {
  position: relative;
  font-family: "Raleway";
  margin: 20px;
}
.questions h1 {
  font-size: 3em;
  font-weight: normal;
}
.questions h2 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 2em;
}
.questions__form {
  position: relative;
}
.questions__form label {
  display: block;
}
.questions__form__name {
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #07ACE6;
}
.questions__form__email {
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #07ACE6;
}
.questions__form__checkbox {
  display: flex;
  align-items: flex-start;
}
.questions__form__checkbox label {
  margin-left: 10px;
}
.questions__form__container {
  position: relative;
  height: 100px;
}
.questions__form__container__submit {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 10px;
  border-color: transparent;
  border-radius: 40px;
  width: 200px;
  padding: 20px;
  background-color: #07ACE6;
  box-shadow: 5px 10px 5px rgba(7, 172, 230, 0.2901960784);
  color: white;
}
.questions__email {
  display: flex;
  align-items: center;
}
.questions__email p {
  display: inline-block;
  margin-left: 10px;
}
.questions__phone {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.questions__phone p {
  display: inline-block;
  margin-left: 10px;
}

.full-input {
  width: 100%;
  border-color: transparent;
  border-bottom: solid 1px gray;
}

@media only screen and (min-width: 1000px) {
  .info br {
    display: none;
  }
  .info__article {
    display: flex;
    justify-content: space-around;
  }
  .pricing {
    flex-direction: row;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: default;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=style.css.map */