@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  position: sticky;
  top: 0;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
  z-index: 9999;
}
.header__brand {
  display: inline-block;
  font-family: "Raleway";
  font-weight: normal;
  background-color: white;
  color: #08A6E4;
  padding: 10px;
}
.header__nav {
  font-family: "Raleway";
  letter-spacing: 2px;
  display: none;
  top: 35%;
}
.header__burger {
  position: absolute;
  display: inline-block;
  top: 45%;
  right: 1em;
}

@media only screen and (min-width: 1000px) {
  .header {
    position: sticky;
    top: 0;
  }
  .header__nav {
    position: absolute;
    right: 0;
    display: inline;
  }
  .header__nav li {
    display: inline-block;
    margin-left: 3em;
    margin-right: 3em;
  }
  .header__nav li:hover {
    border-bottom: solid 4px #07ACE6;
    padding-bottom: 1em;
  }
  .header__burger {
    display: none;
  }
}
.footer {
  position: relative;
  display: block;
  color: #08A6E4;
  font-family: "Raleway";
  font-weight: lighter;
  box-shadow: -10px 0px 10px gray;
  padding: 20px;
}
.footer * {
  display: inline-block;
}
.footer p {
  font-size: 12px;
  color: gray;
}
.footer__twitter {
  position: absolute;
  right: 3em;
  bottom: 35%;
}
.footer__facebook {
  position: absolute;
  right: 1em;
  bottom: 35%;
}

.sell {
  font-family: "Raleway";
  font-weight: lighter;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.sell * {
  margin: 20px;
}
.sell button {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  font-size: larger;
  font-weight: bolder;
  border-color: transparent;
  border-radius: 40px;
  box-shadow: 5px 10px 5px rgba(7, 172, 230, 0.2901960784);
  padding: 20px;
  background-color: #08A6E4;
  color: white;
}

.background-image {
  width: 100%;
}

.info {
  font-family: "Raleway";
  text-align: center;
}
.info__article__first, .info__article__second, .info__article__third {
  margin-top: 30px;
}
.info__article__third {
  margin-bottom: 30px;
}

.groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway";
  background-color: #F7F7F7;
  margin-top: 20px;
}
.groups__article {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 80%;
  border-radius: 5px;
}
.groups__article__trumpet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.groups__article__first {
  justify-content: center;
  background-color: white;
}
.groups__article__second {
  background-color: white;
}
.groups__article__third__div {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
.groups__article hr {
  display: none;
  border-color: transparent;
  width: 70%;
  height: 5px;
}
.groups__article img {
  width: 60%;
}

.pricing {
  position: relative;
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pricing__article {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
}
.pricing__article__basic {
  border: solid 1px #FB3B64;
}
.pricing__article__professional {
  border: solid 1px #07ACE6;
}
.pricing__article__premium {
  border: solid 1px #55DFB4;
}
.pricing__article__price {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}
.pricing__article__price__basic h3 {
  margin-bottom: 10px;
}
.pricing__article__price__basic p {
  font-weight: normal;
  font-size: 40px;
  color: #EB476E;
  margin-bottom: 10px;
}
.pricing__article__features {
  display: flex;
  flex-direction: column;
}
.pricing__article__features__storage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing__article__features__storage img {
  margin-right: 10px;
}
.pricing__article__features p {
  display: inline-block;
}
.pricing__article__features * {
  margin-bottom: 10px;
}
.pricing__article .button {
  position: absolute;
  bottom: -1.5em;
  border-color: transparent;
  border-radius: 20px;
  padding: 10px;
  color: white;
  width: 150px;
}
.pricing__article .button-basic {
  background-color: #EB476E;
}
.pricing__article .button-professional {
  background-color: #07ACE6;
}
.pricing__article .button-premium {
  background-color: #55DFB4;
}

.questions {
  position: relative;
  font-family: "Raleway";
  margin: 20px;
}
.questions h1 {
  font-size: 3em;
  font-weight: normal;
}
.questions h2 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 2em;
}
.questions__form {
  position: relative;
}
.questions__form label {
  display: block;
}
.questions__form__container__name {
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #07ACE6;
}
.questions__form__container__email {
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #07ACE6;
}
.questions__form__checkbox {
  display: flex;
  align-items: flex-start;
}
.questions__form__checkbox label {
  margin-left: 10px;
}
.questions__form__container {
  position: relative;
  height: 100px;
}
.questions__form__container__submit {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 10px;
  border-color: transparent;
  border-radius: 40px;
  width: 200px;
  padding: 20px;
  background-color: #07ACE6;
  box-shadow: 5px 10px 5px rgba(7, 172, 230, 0.2901960784);
  color: white;
}
.questions__email {
  display: flex;
  align-items: center;
}
.questions__email p {
  display: inline-block;
  margin-left: 10px;
}
.questions__phone {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.questions__phone p {
  display: inline-block;
  margin-left: 10px;
}

.full-input {
  width: 100%;
  border-color: transparent;
  border-bottom: solid 1px gray;
}

@media only screen and (min-width: 1000px) {
  .sell button {
    width: 30%;
  }
  .info br {
    display: none;
  }
  .info__article {
    display: flex;
    justify-content: space-around;
  }
  .pricing {
    flex-direction: row;
    padding: 10em;
  }
  .pricing__article {
    background-color: white;
    flex-direction: column;
    padding: 5em;
  }
  .pricing__article:hover {
    transform: scale(1.05);
    transition-property: box-shadow, transform;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  .pricing__article__basic:hover {
    box-shadow: 5px 5px 10px #e3b6bf;
  }
  .pricing__article__basic:hover > button {
    box-shadow: 5px 5px 10px #e3b6bf;
  }
  .pricing__article__professional:hover {
    box-shadow: 5px 5px 10px #adc2ca;
  }
  .pricing__article__professional:hover > button {
    box-shadow: 5px 5px 10px #adc2ca;
  }
  .groups {
    display: grid;
    grid-template-rows: repeat(3, 300px);
    place-content: center;
    place-items: center;
    row-gap: 100px;
    padding: 80px;
  }
  .groups__article {
    flex-direction: row;
    align-items: center;
    height: 20em;
  }
  .groups__article hr {
    display: block;
  }
  .groups__article img {
    height: 18em;
  }
  .groups__article__first {
    flex-direction: row-reverse;
  }
  .groups__article__first__div {
    padding: 60px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .groups__article__first hr {
    background-color: #FB3B64;
  }
  .groups__article__second__div {
    padding: 60px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .groups__article__second hr {
    background-color: #08A6E4;
  }
  .groups__article__trumpet {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .groups__article__trumpet hr {
    background-color: #55DFB4;
  }
  .groups__article__third__div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
    margin-right: 50px;
  }
  .groups__article__third img {
    height: inherit;
  }
  .questions {
    margin: auto;
    width: 60%;
    display: grid;
    height: 400px;
    grid-template-columns: repeat(2, 400px);
    -moz-column-gap: 100px;
         column-gap: 100px;
    place-content: center;
    place-items: center;
  }
  .questions__div {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: flex-start;
  }
  .questions__form {
    height: inherit;
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  .questions__container {
    display: flex;
    justify-content: space-between;
  }
  .questions__container__email {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .questions__container__phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: default;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=style.css.map */