$first_separator_color: rgba(251, 59, 100, 1);
$second_separator_color: rgba(8, 166, 228, 1);
$third_separator_color: rgba(85, 223, 180, 1);

.groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(247, 247, 247, 1);
    height: inherit;
    padding: 20px;
}

.trumpet__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    &__div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        height: inherit;
        border: solid 1px rgba(247, 247, 247, 1);

        &__title {
            font-family: 'Raleway';
            font-weight: 400;
            font-size: 30px;
            line-height: 35px;

            @media only screen and not (min-width: 1000px) {
                margin-top: 20px;
                margin-bottom: 30px;
            }
        }

        &__subtitle {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            
            @media only screen and not (min-width: 1000px) {
                margin-bottom: 30px;
            }
        }

        @media only screen and (min-width: 1000px) {
            margin-right: 20px;
            padding: 50px;
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        height: inherit;
        width: 100%;
        border: solid 1px rgba(247, 247, 247, 1);

        background-color: $third_separator_color;
    }

    @media only screen and (min-width: 1000px) {
        flex-direction: row;
        height: 350px;
    }
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 350px;
    background-color: white;
    border: solid 1px rgba(247, 247, 247, 1);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70%;

        &__title {
            font-family: 'Raleway';
            font-size: 30px;
            line-height: 42px;

            @media only screen and (min-width: 1000px) {
                font-size: 36px;
            }

            @media only screen and not (min-width: 1000px) {
                padding-left: 10px;
            }
        }

        &__subtitle {
            font-family: 'Open Sans';
            font-size: 14px;
            line-height: 22px;
            padding-top: 30px;
            padding-bottom: 30px;
            
            @media only screen and not (min-width: 1000px) {
                padding-left: 10px;
                padding-right: 10px;
            }

            @media only screen and (min-width: 1000px) {
                font-size: 16px;
            }
        }

        @media only screen and (min-width: 1000px) {
            width: 45%;
        }

        &--alternative {
            padding-top: 40px;
            margin-right: 30px;
            border-radius: 5px;
            border: solid 1px rgba(247, 247, 247, 1);
            background-color: white;

            @media only screen and (min-width: 1000px) {
                
                padding: 50px;
            }

            @media only screen and not (min-width: 1000px) {
                width: inherit;
            }
        }
    }

    &__image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: inherit;

        &__circle {
            top: 0;
            position: absolute;
            width: 50px;

            &--red {
                @media only screen and (min-width: 1000px) {
                    right: -20px;
                    top: 70px;
                    width: 200px;
                }

                @media only screen and not (min-width: 1000px) {
                    top: 20px;
                    right: -20px;
                    width: 100px;
                }
            }

            &--blue {
                @media only screen and (min-width: 1000px) {
                    top: 10px;
                    left: 40px;
                    width: 300px;
                }

                @media only screen and not (min-width: 1000px) {
                    width: 100px;
                    top: 10px;
                }
            }

            &--green {
                display: flex;
                align-items: center;
                justify-content: space-between;

                height: 100%;
                width: inherit;
                border-radius: 5px;
                background-color: $third_separator_color;
            }

            @media only screen and (min-width: 1000px) {
                
            }
        }

        &__icon {
            position: absolute;

            &--laptop {

                @media only screen and (min-width: 1000px) {
                    height: 60%;
                    bottom: 20px;
                }

                @media only screen and not (min-width: 1000px) {
                    top: 40px;
                    margin-bottom: 100px !important;
                    width: 200px;
                }
            }

            &--phone {
                @media only screen and (min-width: 1000px) {
                    height: 90%;
                    top: 40px;
                    left: 45px;
                }

                @media only screen and not (min-width: 1000px) {
                    top: 20px;
                    left: 25px;;
                    width: 100%;
                }
            }

            &--trumpet {


                @media only screen and (min-width: 1000px) {
                    
                }
            }
        }

        @media only screen and not (min-width: 1000px) {
            height: inherit;
            width: 150px;
        }
    }

    @media only screen and (min-width: 1000px) {
        flex-direction: row;
    }

    &--first {
        @media only screen and (min-width: 1000px) {
            flex-direction: row-reverse;
        }
    }

    &--third {

        @media only screen and (min-width: 1000px) {
            flex-direction: row-reverse;
        }

        @media only screen and not (min-width: 1000px) {
            flex-direction: column-reverse;
        }
    }
}

.separator {
    display: none;
    border-color: transparent;
    width: 75%;
    height: 3px;

    &--first {
        background-color: $first_separator_color;
    }

    &--second {
        background-color: $second_separator_color;
    }

    &--third {
        background-color: $third_separator_color;
    }

    @media only screen and (min-width: 1000px) {
        display: inline-block;
    }
}