@use '_values.scss' as values;

.sell {
    font-family: values.$font_family;
    font-weight: lighter;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;

    &__article {
        margin: 20px;
    }

    &__title {
        font-weight: 400;
        line-height: 41px;
        font-size: 35px;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-family: 'Open Sans';
        font-weight: 400;
        line-height: 23px;
        font-size: 16px;
        margin-bottom: 30px;
    }

    &__button {
        margin-top: 20px;
        width: 100%;
        @include button-base(values.$primary_color, #07ACE64A);
    }

    @media only screen and (min-width: 1000px) {
        display: flex;
        justify-content: center;
        
        &__article {
            width: 40%;
        }

        &__title {
            font-size: 48px;
            margin-bottom: 30px;
        }

        &__subtitle {
            font-size: 16px;
        }
    }
}